<div style="display: flex;flex: 1;flex-direction: column;">
    <div style="display: flex; flex:1">
        <p style="cursor: pointer;margin: 5px" matButton (click)="setDemo(1)">demo1</p>
        <p style="cursor: pointer;margin: 5px" matButton (click)="setDemo(2)">demo2</p>
        <p style="cursor: pointer;margin: 5px" matButton (click)="setDemo(3)">demo3</p>
    </div>
    <div style="display: flex; flex:1">
        <ng-container *ngIf="demo === 1">
            <tree-diagram [data]="tree"></tree-diagram>
        </ng-container>
        <ng-container *ngIf="demo === 2">
            <lib-tree-v2 [data]="tree"></lib-tree-v2>
        </ng-container>
    </div>
    <div *ngIf="demo === 3">
        <ng-container style="width:100vh">
            <app-table-view></app-table-view>
        </ng-container>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->